.header
  h1.header--logo
    a(href="index.html") NICO
  ul.header__menu
    li: a.header__menu--about About
    li: a.header__menu--post(href="icons.html") Icons
    li: .header__menu__search
      input(type="search").header__menu__search--window
      input(type="submit" value="").header__menu__search--submit
    
